<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hut.kenny.mapper.NumberMapper">
  <resultMap id="BaseResultMap" type="com.hut.kenny.domain.entity.Number">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="number_id" jdbcType="INTEGER" property="numberId" />
    <result column="number_name" jdbcType="VARCHAR" property="numberName" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
  </resultMap>

  <select id="selectByNumberName" resultMap="BaseResultMap">
    select * from `number` where number_name=#{numberName};
  </select>
</mapper>